* {
  margin: 0;
  padding: 0;
}

#app {
  position: absolute;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  text-align: center;
  background-color: var(--forground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#datetime {
  position: relative;
  padding: 3rem 4rem;
  border: solid 1px;
  border-radius: 8px;
}
.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}
#date {
  letter-spacing: 1px;
}

#time {
  font-size: 6vw;
  font-weight: 700;
}
